html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  background-image: url(../images/back.jpg);
  background-size: 100% 100%;
}


.name-holder {
  position: absolute;
  top: 172px;
  left: 215px;
  color: white;
  font-family: Electrolize;
  font-size: 100px;
  z-index: 100;
}


@media screen and (max-width: 1000px) {
  body {
    background-color: #73726A;
    background-size: 100% 400px;
    background-repeat: no-repeat;
    font-size: 30px;
    color: white;
  }

  .name-holder {
    top: 70px;
    left: 40px;
    font-size: 200px;
  }
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
}

.options-holder {
  position: absolute;
  top: 320px;
  left: 185px;
  z-index: 100;
}

.options {
  float: left;
  margin-left: 10px;
  width: 110px;
  height: 100px;
  border-radius: 100%;
  padding: 40px 10px;
  text-align: center;
  background-color: white;
  font-family: Electrolize;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: 0.2s; /* Safari */
  transition: 0.2s;
/*  text-shadow: 0px 0px 1px;*/
}

.options:hover {
  height: 130px;
  width: 145px;
  font-size: 20px;
  opacity: 1;
}

.text-window {
  padding-top: 150px;
  color: white;
}

.about {
  padding-top: 335px;
}
